.wrapper {
    display: grid;
    justify-content: center;
    color: var(--var-paginate-color);
    margin-top: 7vh;
    margin-bottom: -7vh;
}

.genres_name {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2%;
    margin-top: 1%;
    color: var(--var-paginate-color);
}
