.name {
    width: 10vw;
    font-size: 1.2em;
    font-family: "Book Antiqua", serif;
    color: var(--var-paginate-color);
}
.name:hover {
    cursor: pointer;
    text-decoration: underline;
    text-shadow: var(--var-genres-name-shadow);
    color: var(--var-paginate-color);
}
.name_link {
    color: var(--var-num-color);
}