.wrapper {
    display: grid;
    justify-content: center;
    color: var(--var-paginate-color);
    margin-top: 7vh;
    margin-bottom: -7vh;
}

.genres_name {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2%;
    margin-top: 1%;
    color: var(--var-paginate-color);
}

@media (max-width: 900px) {
    .wrapper {
        /*display: grid;*/
        justify-content: space-between;
        /*align-items: center;*/
        color: var(--var-paginate-color);
        display: flex;
        flex-direction: column;
        font-size: 15px;
        padding: 40px;
    }
    .genres_name {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin-top: 1%;
        color: var(--var-paginate-color);
    }
}