
.Header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 7vh;
    background: var(--var-header-bg);
    position: fixed;
    top: 0;
    z-index: 5;
}

.header_left {
    display: block;
    width: 17vw;
    min-width: 223px;
    padding-left: 40px;
}

.logo {
    height: 100%;
    display: flex;
    min-width: 200px;
    align-items: center;
    gap: 5px;
}

.img_okten {
    display: block;
    height: 70%;
}

.theme {
    display: flex;
    gap: 5px;
    position: relative;
    top: 4px;
    width: 30vw;
    font-size: 1em;
    align-self: center;
    padding-left: 10px;
    color: var(--var-link-color);
}


.genres {
    width: 15vw;
    align-self: center;
}

.genres_link {
    color: var(--var-link-color);
}

.search {
    width: 20vw;
    align-self: center;
}

.input {
    height: 100%;
    width: 80%;
    border-radius: .7rem;
    border: none;
    background-color: var(--var-input-bg);
    padding-left: 5%;
    color: var(--var-input-color);
    font-size: 1em;
    z-index: 11;
}

.input:hover {
    box-shadow: var(--var-input-hover-shadow);
}

.input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

::placeholder {
    color: var(--var-input-playsholder);
    font-size: 1em;
}

.button {
    height: 100%;
    border: none;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0);
    position: relative;
    right: 20px;
    top: 3px;
    cursor: pointer;
    overflow: hidden;
    scale: 1.2;
    z-index: 11;
}

.button > svg {
    color: var(--var-button-svg-color);

}


.user {
    display: flex;
    width: 20vw;
    min-width: 145px;
    color: var(--var-link-color);
    align-self: center;
    gap: 10px;
    padding-left: 120px;
}

.user:hover {
    cursor: pointer;
}

.user > svg {
    min-width: 25px;
}

.user > svg:hover {
    cursor: pointer;
}

.text, .user, .genres {
    color: var(--var-link-color);
    font-size: 25px;
}

.search_component {
    z-index: 10;
}

/**************************************************************************************/

@media (max-width: 900px) {
    .header {
        width: 100vw;
        box-sizing: border-box;
    }

    .header_left {
        display: block;
        box-sizing: border-box;
    }

    .logo {
        max-width: 40px;
        height: 60%;
        /*margin-left: 20px;*/
        position: relative;
        top: 10px;
        right: 10px;
    }

    .text {
        font-size: 20px;
    }

    .theme {
        font-size: 10px;
        position: relative;
        right: 150px;
        top: 20px;
    }

    .genres {
        font-size: 20px;
        position: relative;
        right: 90px;
        bottom: 2px;
    }

    .search {
        width: 100px;
        position: relative;
        right: 50px;
    }

    .input {
        width: 100px;
    }

    .user {
        display: none;
    }

    .button {
        display: none;
    }

}
