.Header {
    display: flex;
    background: linear-gradient(183deg, #306188 0%, #123236 85%);
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 8% 0 8%;
}

.user {
    display: flex;
    justify-content: space-between;
    width: 12%;
    align-items: center;
}
.user > svg:hover {
    cursor: pointer;
}
.img_okten {
    display: block;
    height: 70%;
    margin-right: 3%;
}
.text, .user, .genres {
    color: blanchedalmond;
    font-size: 1.7em;
}
.text:hover, .user:hover, .genres:hover {
    text-shadow: 2px 0 14px #00E5FF;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}
.search {
    display: flex;
    align-items: center;
    height: 40%;
    width: 23vw;
    position: relative;
    left: 13%;
}
.input {
    height: 100%;
    width: 100%;
    border-radius: .7rem;
    border: none;
    background-color: #485e77;
    padding-left: 5%;
    color: #80b5d2;
    font-size: 1em;
}
.input:hover{
    box-shadow: 2px 3px 8px 2px #113b4f;

}
.input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
::placeholder {
    color: #718494;
    font-size: 1em;
}

.button {
    height: 100%;
    width:calc(25%/2);
    border: none;
    border-radius: 25px;
    background: rgba(0,0,0,0);
    position: relative;
    right: 10%;
    cursor: pointer;
    overflow: hidden;
    scale: 0.8;
}
.button > svg {
    color: #1b3334;
    scale: 3.5;
}
.link {
    width: 30%;
}
.search_component {
    z-index: 10;
}
