.body {
    background: var(--var-body-bg);
}
.paginate_bottom {
    margin-top: -5%;
    padding-bottom: 1%;
}

@media (max-width: 900px) {
    .paginate_bottom {
        margin-top: -33%;
        /*padding-bottom: 1%;*/
        position: relative;
        bottom: 20px;
    }

}