.Movie , .movie {
    min-width: 305px;
    display: flex;
    width: 20vw;
    height: 20vh;
    /*border: 1px solid silver;*/
    border-radius: .3rem;
    background: linear-gradient(179deg, #cdf0ff 0%, #c5cde3 100%);
    /*padding-bottom: 2%;*/
    box-shadow: 0 0 5px 1px #abd2ea;
    transition: 0.3s;
    font-family: "Book Antiqua", serif;
}
.Movie:hover {
    box-shadow: 0 0 7px 8px #b7d0e8;
    /*scale: 1.03;*/
    transition: 0.3s;
}

.votes {
    display: flex;
    align-self: center;
    position: relative;
    top: 10%;
    font-size: 1em;
}

.inner {
    display: flex;
    flex-direction: column;
    font-size: 1em;
}
.poster_title {
    display: flex;
    height: 100%;
    color: #090808;

}
.img_movie {
    border-radius: .2rem;
    height: 100%;
}
a {
    width: 100%;
    height: 100%;
}
.title {
    text-align: center;
    font-size: 1.1em;
    text-shadow: 0px 3px 5px #839498;
}
.overview {
    display: flex;
    font-size: .7em;
    overflow-y: hidden;
    height: 40%;
    color: #090808;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    padding: 0 2% 0 2%;
}
.overview:hover {
    overflow-y: scroll;
}

.overview:hover::-webkit-scrollbar {
    width: 2px;
}

.overview:hover::-webkit-scrollbar-thumb {
    background-color: #b8a9bc;
    border-radius: 10px;
}

.rating {
    display: flex;
    font-size: 1em;

}
.rating_body {
    position: relative;
    margin-left: 25%;
    padding-bottom: 5%;
    margin-top: 10%;
}
.rating_body:before {
    content: "★★★★★★★★★★";
    display: block;
    color: #5d5d51;
    text-shadow: 1px 1px 5px #5c9fb2;
}
.rating_active {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating_active:before {
    content: "★★★★★★★★★★";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: rgb(203, 201, 95);
}
.span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line {
    color: #5c9fb2;
    width: 50%;
    align-self: center;
    border: none;
}