.paginate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-top: 3%;
    margin: 0 auto 0;
    color: var(--var-num-color);
}

.items {
    display: block;
    font-size: 1em;
    cursor: pointer;
    margin: 0 15% 0 15%;
}
.items:hover {
    text-decoration: underline;
    color: var(--var-paginate-color);
}

li {
    list-style-type: none;
}

.active {
    font-size: 1.3em;
    color: var(--var-num-active);
    text-decoration: underline var(--var-num-active);
}

.prev, .next {
    font-size: 1.6em;
    color: var(--var-num-color);

}

.next:hover {
    cursor: pointer;
    color: var(--var-num-active);
    text-decoration: underline;
}
.prev:hover {
    cursor: pointer;
    color: var(--var-num-active);
    text-decoration: underline;
}

@media (max-width: 900px) {
    .items {
        display: none;
    }
    .active {
        display: none;
    }
    .items > li > breack{
        display: none;
    }
    .break {
        display: none;
    }
}