.Search {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: 1s;

}
.content::-webkit-scrollbar {
    width: 0;
}
.active {
   display: none;

    transition: 1s;
}

.content {
    padding: 10px;
    border-radius: .5rem;
    background: linear-gradient(179deg, #cdf0ff 0%, #c5cde3 100%);
    width: 400px;
    height: 300px;
    overflow-y: scroll;
    z-index: 11;
    transition: 1s;
}